* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

/* HEADER */

header {
    height: 20vh;
    background-color: #dfdfdf;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
}

header .logo {
    width: 10%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

header .logo img {
    max-width: 100%;
    max-height: 100%;
}

header .tabs {
    width: 45%;
    height: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .tabs .route {
    color: #000;
    text-decoration: none;
    font-weight: 400;
    font-size: 1.5rem;
    transition: .2s ease-in-out;
    text-decoration: underline;
}

header .tabs .route:hover {
    font-weight: 600;
    cursor: pointer;
}

/* SECTIONS */

section {
    height: 80vh;
    background-color: #252525;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

/* CONTACT */

.contact {
    gap: 40px;
}

.contact a {
    color: #fff;
}

.contact a:nth-child(1) {
    font-size: 45px;
}

.contact a:nth-child(2), .contact a:nth-child(3){
    font-size: 60px;
}